<!doctype html>
<html lang="fr">

<head>
    <title>{% block title %}March&eacute; de no&euml;l du Diaconat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <!-- MAIN CSS -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

            <link rel="shortcut icon" href="http://www.diaconat-grenoble.org/wp-content/uploads/2015/04/favicon.ico" type="image/x-icon" />

            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />

            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
            <!--start slider -->
            <link href="{{ asset('css/fwslider.css') }}" media="all" rel="stylesheet" type="text/css"/>

            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/fwslider.js') }}"></script>
            <!--end slider -->
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/responsive-nav.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

    </body>
</html>
