{# templates/default/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="main">
        <div class="shop_top">
            <div class="content-title">
                 <h2>Votre commande</h2>
                <p style="color: #C82829; text-align: center;">
                    <i>Merci de remplir les champs :  vos coordonn&eacute;es sont captur&eacute;es uniquement pour l'envoi de votre bon de commande (par email) et la  gestion des retraits</i>
                    <br />
                    <b>Le paiement de votre commande se fera sur place le jour du retrait ; Pr&eacute;f&eacute;rez le paiement par ch&egrave;que.</b>
                </p>
                <div class="clear"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 contact">

                        {{ form_start(form, {'action': path('commande'), 'method': 'POST', 'name': 'form'}) }}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>

                            <div class="to">
                                <div id="panier">
                                    {% if panier is not null %}
                                        {% for product in panier %}

                                            <div id="product-{{ product.id }}" style="float:left; margin:5px;">
                                                <img src="images/{{ product.photo|raw }}" alt="{{ product.name|raw }}" width="150">
                                                <h4>{{ product.name|raw }}</h4><p><b>{{ cookiepanier[product.id]|raw }} x {{ product.price|raw }} &euro;</b></p>
                                            </div>
                                            {% if loop.index is divisible by(3) %}
                                                <div class="clear"></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="to">
                                    {{ form_row(form.nom) }}

                                    {{ form_row(form.prenom) }}

                                    {{ form_row(form.tel) }}

                                    {{ form_row(form.email) }}
                                
                                    {{ form_row(form.livraison) }}

                            </div>
                        <div class="clear"></div>
                        <br>

                            <div class="form-submit">
                                <input name="submit" type="submit" id="submit" value="Commander"><br>
                            </div>
                            <div class="clear"></div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}