{# templates/default/conditions.html.twig #}
{% extends 'basenomap.html.twig' %}

{% block body %}

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        <header class="site-navbar site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center position-relative">

                    <div class="col-3 ">
                        <div >
                            <a href="{{ path('homepage', {'_fragment': 'home'}) }}" style="font-size: 30px;"><img src="{{ asset('images/logo.png') }}" alt="Image" width="250"></a>
                        </div>
                    </div>

                    <div class="col-9  text-right">


                        <span class="d-inline-block d-lg-none"><a href="{{ path('homepage', {'_fragment': 'home'}) }}" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                <li class="active"><a href="{{ path('homepage', {'_fragment': 'home'}) }}" class="nav-link">Accueil</a></li>
                                <li class="dropdown open">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('homepage', {'_fragment': 'parisintra'}) }}" class="nav-link">Paris intramuros</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'transferts'}) }}" class="nav-link">Transferts</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'miseadispo'}) }}" class="nav-link">Mise &agrave; disposition</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'tourisme'}) }}" class="nav-link">Tourisme et shopping</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'evenements'}) }}" class="nav-link">Ev&eacute;nements</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown open">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Tarifs <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('homepage', {'_fragment': 'tarifsB'}) }}" class="nav-link">Business</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'tarifsP'}) }}" class="nav-link">Prestige</a></li>
                                        <li><a href="{{ path('homepage', {'_fragment': 'tarifsV'}) }}" class="nav-link">Van Luxe</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('homepage', {'_fragment': 'reservation'}) }}" class="nav-link">Reservation</a></li>
                                <li><a href="{{ path('homepage', {'_fragment': 'contact'}) }}" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </header>

        <div id="home" class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('images/slider-bg.jpg') }}');">
                <div class="container">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-10">
                            <h1 class="mb-3"><i>La cl&eacute; de vos d&eacute;placements assur&eacute;s</i></h1>
                            <p><a href="{{ path('homepage', {'_fragment': 'reservation'}) }}" class="btn btn-primary">Je r&eacute;serve</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="parisintra" class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="scissors primary-color-icon text-center">Conditions G&eacute;n&eacute;rales<br> d'Utilisation et de Vente</h3>

                        <div style="color: rgba(0, 0, 0, 0.87);">
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Objet</h2><br><br>
                            Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales ont pour objet de d&eacute;finir les modalit&eacute;s et conditions d'utilisation et de vente
                            des Services propos&eacute;s par EASY CAB SERVICES (ci-apr&egrave;s : les " Services "), ainsi que de d&eacute;finir les droits et obligations
                            des parties dans ce cadre.<br><br>Elles peuvent &ecirc;tre compl&eacute;t&eacute;es, le cas &eacute;ch&eacute;ant, par des Conditions Particuli&egrave;res &agrave;
                            certains Services. En cas de contradiction, les Conditions Particuli&egrave;res pr&eacute;valent sur ces Conditions G&eacute;n&eacute;rales.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">D&eacute;finitions</h2><br><br>
                            " Site " d&eacute;signe le site internet de EASY CAB SERVICES<br><br>" Services " d&eacute;signe l'ensemble des Prestations fournies par
                            EASY CAB SERVICES.<br><br>" Client " d&eacute;signe toute personne physique disposant de la pleine capacit&eacute; juridique pour s'engager
                            au titre des pr&eacute;sentes Conditions G&eacute;n&eacute;rales. La personne physique qui ne dispose pas de la pleine capacit&eacute; juridique
                            ne peut acc&eacute;der au Site et aux Services qu'avec l'accord de son repr&eacute;sentant l&eacute;gal. " Client " d&eacute;signe &eacute;galement toute
                            personne morale agissant par l'interm&eacute;diaire d'une personne physique disposant de la capacit&eacute; juridique pour contracter
                            au nom et pour le compte de la personne morale.<br><br>" Commande Imm&eacute;diate " d&eacute;signe toute r&eacute;servation de course
                            effectu&eacute;e et valid&eacute;e par le Client quel que soit le canal de commande pour une prise en charge moins de 30 minutes
                            suivant l'heure de la prise de Commande.<br><br>" R&eacute;servation &agrave; l'Avance" d&eacute;signe toute r&eacute;servation de course effectu&eacute;e
                            et valid&eacute;e par le Client quel que soit le canal de commande pour une prise en charge plus de 30 minutes minimum suivant
                            l'heure de la prise de Commande et dans un d&eacute;lai maximum de trente jours de la prise de Commande.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Acceptation des Conditions G&eacute;n&eacute;rales</h2><br><br>
                            L'acc&egrave;s et l'utilisation du Site, l'acceptation d'un devis ou d'une r&eacute;servation par le Client et/ou la confirmation de
                            sa commande impliquent l'enti&egrave;re adh&eacute;sion aux pr&eacute;sentes Conditions G&eacute;n&eacute;rales et l'acceptation sans r&eacute;serve de toutes
                            les dispositions &eacute;nonc&eacute;es.<br><br>EASY CAB SERVICES se r&eacute;serve le droit de modifier, &agrave; tout moment et sans pr&eacute;avis, le
                            Site et les Services ainsi que les pr&eacute;sentes, notamment pour s'adapter aux &eacute;volutions du Site par la mise &agrave; disposition
                            de nouvelles fonctionnalit&eacute;s ou la suppression ou la modification de fonctionnalit&eacute;s existantes.<br><br>
                            Tout Client qui a recours aux Services post&eacute;rieurement &agrave; l'entr&eacute;e en vigueur des Conditions G&eacute;n&eacute;rales modifi&eacute;es
                            est r&eacute;put&eacute; avoir accept&eacute; ces modifications.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Description des Services</h2><br><br>
                            EASY CAB SERVICES est un Service de transport qui fournit des Prestations de d&eacute;placement en V&eacute;hicules de Tourisme
                            avec Chauffeur (VTC) fonctionnant sur Commande Imm&eacute;diate ou R&eacute;servation &agrave; l'Avance. Ces Prestations de transport
                            (ci-apr&egrave;s : les " Prestations ") peuvent inclure mais ne se limitent pas aux :<br><br>-	Transferts
                            (trajets de point &agrave; point avec tarification horokilom&eacute;trique, kilom&eacute;trique ou forfaitaire)<br><br>
                            -	Mises &agrave; disposition (&eacute;v&eacute;nements, congr&egrave;s, mariages, etc. avec tarification horaire)<br><br>
                            La Prestation n'est valable qu'une fois, et s'il s'av&eacute;rait que le Client n'&eacute;tait pas pr&eacute;sent sur le lieu de
                            rendez-vous, la Prestation serait d&eacute;finitivement perdue et donnerait lieu &agrave; des frais d'annulation et de non-charge.<br><br>
                            Sauf convention contraire arr&ecirc;t&eacute;e pr&eacute;alablement par les Parties, la Prestation d&eacute;bute au jour et &agrave; l'heure fix&eacute;e au
                            contrat au d&eacute;part du lieu de stationnement du v&eacute;hicule. Elle se termine au jour et &agrave; l'heure fix&eacute;e au contrat et au
                            lieu de d&eacute;pose final du Client.<br><br>EASY CAB SERVICES peut choisir, sans le consentement du Client, de sous-traiter,
                            transf&eacute;rer ou c&eacute;der tout ou une partie de la Prestation &agrave; un tiers de son choix, sans en aviser au pr&eacute;alable le Client.
                            EASY CAB SERVICES ne saurait alors &ecirc;tre tenue responsable de quelques dommages ou pr&eacute;judices que ce soient, la demande &eacute;tant
                            effectu&eacute;e par et sous la responsabilit&eacute; d'un partenaire.<br><br>EASY CAB SERVICES fournit ses meilleurs efforts pour prendre
                            en charge les personnes &agrave; mobilit&eacute; r&eacute;duite.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Obligations du Client par rapport au Site</h2><br><br>
                            Sans pr&eacute;judice des autres obligations pr&eacute;vues aux pr&eacute;sentes, le Client s'engage &agrave; respecter les obligations qui suivent :<br><br>
                            Le Client reconna&icirc;t avoir pris connaissance des caract&eacute;ristiques et contraintes, notamment techniques, de l'ensemble des
                            Services propos&eacute;s sur le Site.<br><br>Le Client est inform&eacute; et accepte que la mise en oeuvre des Services propos&eacute;s sur le
                            Site peut n&eacute;cessiter qu'il soit connect&eacute; &agrave; internet et que la qualit&eacute; des Services d&eacute;pend directement de cette connexion,
                            dont il est seul responsable.<br><br>Le Client doit prendre les mesures n&eacute;cessaires pour sauvegarder par ses propres moyens
                            les informations envoy&eacute;s par le site qu'il juge n&eacute;cessaires, dont aucune copie ne lui sera fournie.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Personnes autoris&eacute;es</h2><br><br>
                            Le Client personne morale peut, &agrave; sa discr&eacute;tion et sous sa responsabilit&eacute;, autoriser ses membres ou collaborateurs
                            nominativement d&eacute;sign&eacute;s &agrave; b&eacute;n&eacute;ficier des droits ouverts par le pr&eacute;sent contrat. Les Prestations du pr&eacute;sent contrat
                            ne peuvent en aucun cas &ecirc;tre commercialis&eacute;es ou revendues par le Client &agrave; un tiers quel qu'il soit.<br><br>
                            Cette liste de personnes autoris&eacute;es est modifiable &agrave; tout moment par le Client par l'interm&eacute;diaire de son Espace Personnel
                            mis &agrave; sa disposition sous sa seule responsabilit&eacute;.<br><br>Le Client peut faire occasionnellement b&eacute;n&eacute;ficier des Services
                            toute personne de son choix (ses propres clients, visiteurs, etc.) non d&eacute;sign&eacute;e comme personne autoris&eacute;e. Dans ce cas,
                            le demandeur devra pr&eacute;ciser le nom de la personne autoris&eacute;e, pour le compte de laquelle la course est effectu&eacute;e,
                            ainsi que le nom du passager &agrave; prendre en charge.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Acc&egrave;s aux Services</h2><br><br>
                            L'acc&egrave;s aux Services est ouvert 24 heures sur 24 et 7 jours sur 7 suivant la proc&eacute;dure &eacute;tablie sp&eacute;cifiquement pour
                            chacun des moyens de commande propos&eacute;s au Client (t&eacute;l&eacute;phone, Site, application smartphone ou serveur vocal).
                            Les proc&eacute;dures d'acc&egrave;s aux Services pourront &ecirc;tre modifi&eacute;es sans pr&eacute;avis pas EASY CAB SERVICES qui en informera le
                            Client dans les meilleurs d&eacute;lais.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">R&eacute;servation</h2><br><br>
                            Le Client peut effectuer la Commande Imm&eacute;diate ou la R&eacute;servation &agrave; l'Avance d'un Service par t&eacute;l&eacute;phone, email ou encore depuis le Site.<br><br>
                            Dans tous les cas, le Client doit renseigner ou pr&eacute;ciser les diff&eacute;rents &eacute;l&eacute;ments relatifs au Service souhait&eacute; et
                            notamment le nom et les coordonn&eacute;es du passager si diff&eacute;rent du Client, son num&eacute;ro de t&eacute;l&eacute;phone et adresse mail,
                            le type de Prestation (transfert, mise &agrave; disposition, forfait, etc.), le lieu de charge et de d&eacute;pose, le nombre
                            de passagers et de bagages, la dur&eacute;e de la r&eacute;servation dans le cadre d'une mise &agrave; disposition et son num&eacute;ro de
                            vol ou de train le cas &eacute;ch&eacute;ant.<br><br>Pour une R&eacute;servation &agrave; l'Avance, le Client saisit la date de r&eacute;servation,
                            qui comprend trois champs : le jour, le mois et l'heure. Cette date devra &ecirc;tre comprise entre 30 minutes et 30 jours
                            selon la zone d'op&eacute;ration du lieu de prise en charge.<br><br>Le Client re&ccedil;oit un devis (une estimation du montant)
                            de la Prestation souhait&eacute;e via email ou par le module de r&eacute;servation en ligne. Un acompte pourra alors &ecirc;tre demand&eacute;
                            au Client par EASY CAB SERVICES, &eacute;ventuellement de la totalit&eacute; du montant estim&eacute; de la Prestation.<br><br>
                            Toute Commande Imm&eacute;diate, R&eacute;servation &agrave; l'Avance ou toute autre Prestation pass&eacute;e est ferme et d&eacute;finitive
                            et pourra faire l'objet de frais d'annulation qui pourront &ecirc;tre automatiquement factur&eacute;s.<br><br>
                            
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Tarifs</h2><br><br>
                            Une grille tarifaire est disponible sur le Site. Cependant, les montants communiqu&eacute;s par le module de r&eacute;servation
                            en ligne sont donn&eacute;s &agrave; titre indicatif et ne constituent qu'une estimation du montant de la Prestation
                            s&eacute;lectionn&eacute;e par le Client.<br><br>Le tarif de transfert s'applique au d&eacute;placement direct sans arr&ecirc;t
                            depuis le point de prise en charge jusqu'au point d'arriv&eacute;e, selon le trajet souhait&eacute; par le chauffeur
                            sauf demande explicite de la part du Client avant la commande ou la r&eacute;servation, le Service se terminant
                            imm&eacute;diatement apr&egrave;s. EASY CAB SERVICES peut d&eacute;cider d'un prix minimum qui sera factur&eacute; pour le Service,
                            quelle que soit la distance et la dur&eacute;e du trajet.<br><br>Par ailleurs, EASY CAB SERVICES peut d&eacute;cider
                            d'adapter ses prix &agrave; diff&eacute;rents crit&egrave;res et de facturer des frais suppl&eacute;mentaires dans certaines circonstances
                            telles que la p&eacute;riode de la journ&eacute;e, les jours f&eacute;ri&eacute;s, la ville d'utilisation du Service, etc.<br><br>
                            De convention expresse, toute unit&eacute; de tarification (heure, kilom&egrave;tre, etc.) commenc&eacute;e est due.
                            Toute heure suppl&eacute;mentaire commenc&eacute;e sera due dans son int&eacute;gralit&eacute;.<br><br>Le prix final factur&eacute; au
                            Client sera calcul&eacute; lorsque l'ex&eacute;cution du Service sera termin&eacute;e et pourra inclure des suppl&eacute;ments
                            en fonction de la dur&eacute;e ou la distance du trajet et des frais d'attente si le passager s'est pr&eacute;sent&eacute;
                            plus tard que l'heure pr&eacute;vue par la r&eacute;servation. Il pourra &eacute;galement &ecirc;tre diff&eacute;rent du forfait annonc&eacute;
                            si le passager a demand&eacute; des Prestations suppl&eacute;mentaires : arr&ecirc;ts, escales, d&eacute;tours, changement de destination.<br><br>
                            Les prix indiqu&eacute;s incluent le v&eacute;hicule, la Prestation chauffeur, l'assurance responsabilit&eacute; civile
                            professionnelles pour les personnes transport&eacute;es, le carburant, les kilom&egrave;tres et le temps d&eacute;termin&eacute;s
                            lors de la r&eacute;servation et /ou lors de la conclusion du contrat ainsi que les Services &agrave; bord indiqu&eacute;s
                            au moment de la r&eacute;servation.<br><br>Le co&ucirc;t des p&eacute;ages, parkings et plus g&eacute;n&eacute;ralement tous lieux de stationnement,
                            les frais d'entr&eacute;e sur les sites (mus&eacute;es, th&eacute;&acirc;tres, ch&acirc;teaux, ou autres) ainsi que les droits d'entr&eacute;e dans les
                            lieux publics demeurent &agrave; la charge du Client.<br><br> Nous n'effectuons aucune majoration tarifaire horaire sur
                            nos transferts. Nous n'effectuons aucune majoration tarifaire horaire sur nos forfaits. Nous n'effectuons aucune
                            majoration tarifaire horaire sur nos mises &agrave; disposition.<br><br>Sauf mention contraire, les tarifs sont exprim&eacute;s
                            en euros et toutes taxes fran&ccedil;aises comprises dont TVA de 10% sur les transferts et forfaits aux kilom&egrave;tres et de
                            20% pour les Prestations &agrave; l'heure.<br><br>EASY CAB SERVICES se r&eacute;serve le droit, &agrave; sa libre discr&eacute;tion et selon des
                            modalit&eacute;s dont elle sera seule juge, de proposer des offres promotionnelles ou r&eacute;ductions de prix.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Frais d'attente</h2><br><br>
                            Hors gares et a&eacute;roports, l'attente n'est pas factur&eacute;e si celle-ci ne d&eacute;passe pas 10 minutes. Au-del&agrave; de 10 minutes
                            d'attente, les frais s'&eacute;l&egrave;vent &agrave; 0,50 &euro; TTC par minute mais EASY CAB SERVICES se r&eacute;serve le droit d'annulation de la
                            commande, le Client devant alors s'acquitter des frais de non-charge et d'annulation.<br><br>En gares et a&eacute;roports,
                            l'attente n'est pas factur&eacute;e si celle-ci ne d&eacute;passe pas les 20 minutes de l'arriv&eacute;e affich&eacute;e du train ou de l'avion.
                            Au-del&agrave; de 20 minutes d'attente, les frais s'&eacute;l&egrave;vent &agrave; 0,50 &euro; TTC par minute mais EASY CAB SERVICES se r&eacute;serve le droit
                            d'annulation de la commande, le Client devant alors s'acquitter des frais de non-charge et d'annulation.<br><br>
                            Toute attente au-del&agrave; d'une heure de retard sur l'heure de prise en charge initialement pr&eacute;vue sera factur&eacute;e sur
                            la base horaire mentionn&eacute;e dans nos tarifs de la cat&eacute;gorie du v&eacute;hicule r&eacute;serv&eacute;. EASY CAB SERVICES se r&eacute;serve cependant
                            le droit d'annulation de la commande, le Client devant alors s'acquitter des frais de non-charge et d'annulation.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Frais de non-charge et d'annulation</h2><br><br>
                            Apr&egrave;s la confirmation de la r&eacute;servation, les frais d'annulation ou de non-charge correspondants &agrave; l'int&eacute;gralit&eacute; du
                            montant initialement pr&eacute;vu lors de la r&eacute;servation (plus les &eacute;ventuels frais d'attente r&eacute;alis&eacute;s) seront applicables
                            si le Client annule ou ne se pr&eacute;sente par pour quelque raison que ce soit :<br><br>
                            -	Pour une R&eacute;servation &agrave; l'Avance : moins de quatre heures avant le d&eacute;but de la Prestation<br><br>
                            -	Pour une Commande Imm&eacute;diate : plus cinq minutes apr&egrave;s commande<br><br>
                            Dans tous les cas, les frais avanc&eacute;s par EASY CAB SERVICES aupr&egrave;s de prestataires, partenaires ou fournisseurs
                            (demandes sp&eacute;cifiques de boissons, friandises, ou tout autre Service initialement pr&eacute;vu pour la commande)
                            seront int&eacute;gralement factur&eacute;s au Client.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Modifications en cours de Service</h2><br><br>
                            &agrave; tout moment pendant le Service, le prix estimatif pourra &ecirc;tre mis &agrave; jour par EASY CAB SERVICES en fonction du temps,
                            de la distance et des diverses contraintes li&eacute;es &agrave; la course.<br><br>Toute modification du trajet par le Client au
                            cours de la Prestation et entra&icirc;nant des changements de programme pourra engendrer des suppl&eacute;ments &agrave; r&eacute;gler sur
                            place ou &agrave; la fin de la Prestation.<br><br>En cas de modification de la dur&eacute;e ou du parcours due &agrave; la seule
                            volont&eacute; du Client, les frais occasionn&eacute;s seront &agrave; la charge de ce dernier.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Facturation</h2><br><br>
                            Les Services font l'objet de factures qui sont communiqu&eacute;es au Client par tout moyen utile.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Conditions de paiement</h2><br><br>
                            Les Services de EASY CAB SERVICES sont payables par acompte d'un montant sp&eacute;cifi&eacute; par EASY CAB SERVICES au moment
                            de la r&eacute;servation, le reste &eacute;tant d&ucirc; imm&eacute;diatement &agrave; la fin de la Prestation.<br><br>Pour certains Clients,
                            un abonnement par contrat sp&eacute;cifique avec facturation globale en compte avec r&egrave;glement en fin de mois
                            est envisageable.<br><br>Les r&egrave;glements en esp&egrave;ces, virement et cartes bancaires sont accept&eacute;s.
                            EASY CAB SERVICES ne conserve aucunes coordonn&eacute;es bancaires du Client. Aucun paiement par ch&egrave;que ne sera accept&eacute;
                            sauf accord pr&eacute;alable de EASY CAB SERVICES.<br><br>Dans tous les cas, le Client, signataire de la r&eacute;servation,
                            est seul responsable du paiement de la Prestation.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Contestation des factures</h2><br><br>
                            Toute facture qui ne fait l'objet d'aucune contestation &eacute;crite du Client dans un d&eacute;lai de 30 jours &agrave; compter
                            de sa date d'envoi sera r&eacute;put&eacute;e accept&eacute;e par ce dernier.<br><br>Une contestation formul&eacute;e, dans un d&eacute;lai de
                            30 jours &agrave; compter de sa date d'envoi, ne peut en aucun cas justifier un retard dans le r&egrave;glement de la
                            totalit&eacute; de la facture.<br><br>Si apr&egrave;s v&eacute;rification, une erreur de facturation est imputable &agrave; EASY CAB SERVICES,
                            celle-ci s'engage &agrave; &eacute;mettre au profit du Client l'avoir et/ou le remboursement &eacute;ventuel correspondant dans les
                            plus brefs d&eacute;lais.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Retards et incidents de paiement</h2><br><br>
                            Toute somme impay&eacute;e dans un d&eacute;lai de 30 jours suivant la date de paiement contractuelle emportera de plein droit,
                            et sans mise en demeure pr&eacute;alable d&eacute;ch&eacute;ance du terme pour la totalit&eacute; des cr&eacute;ances de EASY CAB SERVICES.<br><br>
                            Les sommes restant dues sont imm&eacute;diatement exigibles, major&eacute;es des int&eacute;r&ecirc;ts de retard au taux de 3 fois l'int&eacute;r&ecirc;t
                            l&eacute;gal en vigueur, &agrave; compter du premier jour de retard au-del&agrave; du d&eacute;lai de paiement contractuel, et des frais de
                            recouvrement au taux de 15 % du solde restant d&ucirc; avec un minimum de 40 euros, sans pr&eacute;judice des recours judiciaires
                            que EASY CAB SERVICES se r&eacute;serve &eacute;galement le droit d'exercer.<br><br>EASY CAB SERVICES se r&eacute;serve le droit de suspendre,
                            sans pr&eacute;avis ni indemnit&eacute;, tout abonnement, compte ou Service en cours et d'annuler les demandes de courses formul&eacute;es.
                            En cas de non-paiement, EASY CAB SERVICES pourra &eacute;galement de plein droit r&eacute;silier tout contrat en cours avec le Client.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Responsabilit&eacute; du Client et des personnes transport&eacute;es</h2><br><br>
                            Le Client s'engage pour lui-m&ecirc;me et pour les passagers pour lesquels il a contract&eacute; avec EASY CAB SERVICES &agrave; se comporter de fa&ccedil;on civile
                            et raisonnable d&egrave;s la prise en charge, en particulier, en respectant le chauffeur et le mat&eacute;riel de transport ainsi que les
                            dispositions suivantes :<br><br>-	Respect des lois et r&egrave;glements en vigueur (notamment les r&egrave;gles du Code de la Route dont
                            port de la ceinture de s&eacute;curit&eacute;, si&egrave;ge auto, rehausseur), et &agrave; ne pas porter atteinte aux droits de tiers ou &agrave; l'ordre public.<br><br>
                            -	Interdiction de fumer, de manger, boire de l'alcool et de transporter des mati&egrave;res dangereuses.<br><br>
                            -	Les bagages transport&eacute;s demeurent sous la responsabilit&eacute; du Client. EASY CAB SERVICES ne pourra &ecirc;tre tenue
                            responsable en cas de d&eacute;gradation et/ou de perte de bagages.<br><br>-	Les dommages de toute nature caus&eacute;s
                            au v&eacute;hicule et/ou autres v&eacute;hicules (par exemple, lors de l'ouverture intempestive des porti&egrave;res) seront &agrave; la
                            charge du Client &agrave; moins qu'il ne soit d&eacute;montr&eacute; qu'ils proviennent du fait d'un tiers. Ne peuvent &ecirc;tre consid&eacute;r&eacute;s
                            comme des Tiers les occupants du v&eacute;hicule, les pr&eacute;pos&eacute;s, prestataires et invit&eacute;s du Client.<br><br>
                            -	Le nombre de passagers autoris&eacute;s (y compris le chauffeur) est celui figurant dans les caract&eacute;ristiques
                            techniques du v&eacute;hicule. Il ne pourra jamais &ecirc;tre d&eacute;pass&eacute;.<br><br>-	Le transport d'animaux est interdit
                            sans cage de transport, sauf autorisation pr&eacute;alable d&ucirc;ment mentionn&eacute;e sur le Contrat, ou dans les cas
                            d'animaux (Chien) accompagnateurs de personnes malvoyantes.<br><br>Le non-respect de ces dispositions engage
                            la responsabilit&eacute; exclusive du Client et des passagers tant &agrave; l'&eacute;gard de EASY CAB SERVICES que des tiers.<br><br>
                            EASY CAB SERVICES d&eacute;cline toute responsabilit&eacute; concernant les agissements de son Client avant et apr&egrave;s son transport.
                            EASY CAB SERVICES se r&eacute;serve &eacute;galement le droit de refuser la prise en charge, ou de d&eacute;barquer, un passager qui ne
                            respecterait pas ces obligations, ainsi qu'un passager alcoolis&eacute;.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Responsabilit&eacute; de EASY CAB SERVICES</h2><br><br>
                            EASY CAB SERVICES s'engage &agrave; transporter ses passagers dans les meilleurs d&eacute;lais, dans des conditions de s&eacute;curit&eacute; optimales.
                            EASY CAB SERVICES s'engage &agrave; fournir les Services avec diligence et selon les r&egrave;gles de l'art, &eacute;tant pr&eacute;cis&eacute; qu'il p&egrave;se
                            sur elle une obligation de moyens, &agrave; l'exclusion de toute obligation de r&eacute;sultat, ce que les Clients reconnaissent et
                            acceptent express&eacute;ment.<br><br>Dans le cas o&ugrave; EASY CAB SERVICES serait dans l'impossibilit&eacute; de mettre &agrave; disposition le
                            v&eacute;hicule pr&eacute;vu dans le contrat, EASY CAB SERVICES s'engage &agrave; mette &agrave; disposition du Client un v&eacute;hicule de gamme &eacute;gale ou
                            sup&eacute;rieure sans majoration du tarif &eacute;tablit lors de la r&eacute;servation.<br><br>Dans le cas o&ugrave; EASY CAB SERVICES ne puisse
                            honorer son engagement vis &agrave; vis du Client, la soci&eacute;t&eacute; s'engage &agrave; pr&eacute;venir le Client dans les meilleurs d&eacute;lais,
                            et &agrave; rembourser l'int&eacute;gralit&eacute; de l'acompte vers&eacute; lors de la r&eacute;servation. EASY CAB SERVICES se r&eacute;serve la facult&eacute; de
                            ne pas ex&eacute;cuter la Prestation en cas de survenance d'un cas de force majeure, d'un cas fortuit, du fait d'un tiers
                            ou encore de tout &eacute;v&eacute;nement pouvant pr&eacute;senter un risque pour le Client, ses invit&eacute;s, ses pr&eacute;pos&eacute;s, le chauffeur
                            ou le v&eacute;hicule.<br><br>Il est convenu que les retards sur les d&eacute;lais de transports d&ucirc; &agrave; des difficult&eacute;s de circulation
                            impr&eacute;vues (embouteillages, accidents, d&eacute;viations, conditions m&eacute;t&eacute;orologiques, panne m&eacute;canique, &eacute;v&eacute;nements divers, etc.),
                            n'ouvrent aucuns droits &agrave; des indemnit&eacute;s ou &agrave; des remboursements quels qu'ils soient.<br><br>En cas d'immobilisation du
                            v&eacute;hicule due &agrave; une d&eacute;faillance m&eacute;canique, un accident ou autre, EASY CAB SERVICES s'efforcera d'assurer la continuit&eacute; du
                            parcours, soit avec l'un de ces v&eacute;hicules, soit avec un v&eacute;hicule affr&eacute;t&eacute; &agrave; une autre compagnie et s'engage &agrave; pr&eacute;venir le Client.<br><br>
                            En aucun cas EASY CAB SERVICES ne pourra &ecirc;tre tenue pour responsable d'une d&eacute;faillance m&eacute;canique ou d'une d&eacute;gradation du
                            v&eacute;hicule ind&eacute;pendante de sa volont&eacute;, si toutefois celle-ci survenait, elle ne donnerait droit &agrave; aucun remboursement
                            ou d&eacute;dommagement.<br><br>EASY CAB SERVICES n'est pas responsable des casses ou d&eacute;t&eacute;riorations &eacute;ventuelles, des contenus
                            fragiles &agrave; l'int&eacute;rieur des bagages des passagers.<br><br>EASY CAB SERVICES se r&eacute;serve le droit d'interrompre la Prestation
                            en cours si le chauffeur s'aper&ccedil;oit que le Client commet une infraction, par exemple l'usage de stup&eacute;fiants, d'alcool
                            mais encore si le comportement des Clients mettait en p&eacute;ril la s&eacute;curit&eacute; du chauffeur ou celle des v&eacute;hicules lou&eacute;s, ou
                            bien si les Clients &eacute;taient insultants vis-&agrave;-vis du chauffeur.<br><br>La responsabilit&eacute; de EASY CAB SERVICES ne pourra &ecirc;tre
                            engag&eacute;e pour un dommage r&eacute;sultant de l'utilisation du r&eacute;seau Internet tel que perte de donn&eacute;es, intrusion, virus, rupture
                            du Service, ou autres probl&egrave;mes involontaires.<br><br>Toutes les photos communiqu&eacute;es sur nos documents et Site le sont
                            &agrave; titre illustratif et non contractuel.<br><br>Dans tous les cas, le Client reconna&icirc;t express&eacute;ment que la responsabilit&eacute;
                            de EASY CAB SERVICES sera limit&eacute;e au montant estim&eacute; du prix de la Prestation lors de la r&eacute;servation. Dans le cas o&ugrave; le prix
                            final n'est pas d&eacute;termin&eacute;, un montant forfaitaire sera fix&eacute; &agrave; d&eacute;faut &agrave; un maximum de 50 euros si aucun de ces &eacute;l&eacute;ments n'est connu.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Assurance</h2><br><br>
                            La responsabilit&eacute; de EASY CAB SERVICES est limit&eacute;e aux clauses de notre contrat d'assurance.<br><br>
                            Nos v&eacute;hicules sont assur&eacute;s pour le transport de personnes et nos voyageurs pour tous les dommages corporels couvrant
                            la responsabilit&eacute; civile professionnelle, conform&eacute;ment &agrave; la r&egrave;glementation fran&ccedil;aise, en application de
                            l'article L. 3120-4 du code des transports.<br><br>Le Client aura toute facult&eacute; de souscrire une assurance
                            compl&eacute;mentaire &agrave; sa charge pour les frais d'annulation, les frais de rapatriement ou la couverture des
                            bagages transport&eacute;s sans que cette liste ne soit limitative.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Donn&eacute;es &agrave; caract&egrave;re personnel</h2><br><br>
                            Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales sont soumises aux dispositions de la loi num&eacute;ro 78-17 du 6 janvier 1978 relative &agrave;
                            l'informatique, aux fichiers et aux libert&eacute;s. Le Client dispose d'un droit d'acc&egrave;s, de rectification et de suppression
                            des donn&eacute;es &agrave; caract&egrave;re personnel le concernant sur simple demande adress&eacute;e &agrave; la soci&eacute;t&eacute;.<br><br>La soci&eacute;t&eacute; peut
                            communiquer &agrave; des tiers les coordonn&eacute;es du Client pour les besoins de l'utilisation du Site et notamment au chauffeur.
                            Le Client dispose bien entendu d'un droit d'opposition (par tout moyen et notamment courrier simple adress&eacute; &agrave; la soci&eacute;t&eacute;)
                            &agrave; la cession &agrave; des tiers &agrave; des fins de prospection commerciale des informations nominatives d&eacute;tenues sur sa personne.<br><br>
                            Le Client accepte que la soci&eacute;t&eacute; se r&eacute;serve la possibilit&eacute; d'enregistrer et de conserver, &agrave; des fins de preuve,
                            l'ensemble des informations relatives aux connexions effectu&eacute;es, telles que les donn&eacute;es relatives aux trajets
                            effectu&eacute;s et les coordonn&eacute;es personnelles du Client.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Liens et sites tiers</h2><br><br>
                            EASY CAB SERVICES ne pourra en aucun cas &ecirc;tre tenue pour responsable de la disponibilit&eacute; technique de sites
                            internet ou d'applications mobiles exploit&eacute;s par des tiers (y compris ses &eacute;ventuels partenaires) auxquels
                            le Client acc&eacute;derait par l'interm&eacute;diaire du Site.<br><br>EASY CAB SERVICES n'endosse aucune responsabilit&eacute;
                            au titre des contenus, publicit&eacute;s, produits et/ou services disponibles sur de tels sites et applications
                            mobiles tiers dont il est rappel&eacute; qu'ils sont r&eacute;gis par leurs propres conditions d'utilisation.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Dur&eacute;e du Compte</h2><br><br>
                            Le Compte est cr&eacute;&eacute; pour une dur&eacute;e ind&eacute;termin&eacute;e. Le Client peut demander la suppression de son Compte &agrave; tout moment,
                            en adressant une demande &agrave; cet effet &agrave; EASY CAB SERVICES par email.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Langue</h2><br><br>
                            Dans l'hypoth&egrave;se d'une traduction des pr&eacute;sentes Conditions G&eacute;n&eacute;rales dans une ou plusieurs langues, la langue
                            d'interpr&eacute;tation sera la langue fran&ccedil;aise en cas de contradiction ou de contestation sur la signification d'un
                            terme ou d'une disposition.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Divisibilit&eacute;</h2><br><br>
                            Autant que possible, chaque clause des Conditions G&eacute;n&eacute;rales doit &ecirc;tre interpr&eacute;t&eacute;e de mani&egrave;re &agrave; &ecirc;tre
                            effective et valable en vertu de la loi applicable. Dans le cas o&ugrave; l'une ou plusieurs des clauses
                            contenues dans les Conditions G&eacute;n&eacute;rales doit, pour une raison quelconque, &ecirc;tre jug&eacute;e invalide,
                            ill&eacute;gale ou non ex&eacute;cutable, cette clause sera sans effet dans la limite de l'invalidit&eacute;, l'ill&eacute;galit&eacute;
                            ou l'inapplicabilit&eacute; sans discr&eacute;diter le reste de cette clause, sauf si une telle interpr&eacute;tation &eacute;tait d&eacute;raisonnable.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Renonciation</h2><br><br>
                            Tout retard ou manquement de EASY CAB SERVICES &agrave; assurer ou &agrave; ex&eacute;cuter &agrave; tout moment ses droits en vertu des Conditions G&eacute;n&eacute;rales
                            de vente ne peut &ecirc;tre interpr&eacute;t&eacute; comme une renonciation &agrave; cette disposition, ni d'aucune fa&ccedil;on &agrave; affecter la validit&eacute; des
                            Conditions G&eacute;n&eacute;rales. Aucune renonciation &agrave; toute violation des Conditions G&eacute;n&eacute;rales ne sera consid&eacute;r&eacute;e comme constituant une
                            renonciation &agrave; tout manquement autre ou ult&eacute;rieur.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Loi applicable et juridiction</h2><br><br>
                            Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales sont r&eacute;gies par la loi fran&ccedil;aise et ce m&ecirc;me si la Prestation est effectu&eacute;e dans un pays &eacute;tranger.<br><br>
                            Toute r&eacute;clamation doit &ecirc;tre faite par lettre recommand&eacute;e avec accus&eacute; de r&eacute;ception dans un d&eacute;lai de dix jours apr&egrave;s l'ex&eacute;cution de la
                            Prestation aupr&egrave;s de EASY CAB SERVICES.<br><br>En cas de contestation sur la validit&eacute;, l'interpr&eacute;tation et/ou l'ex&eacute;cution des pr&eacute;sentes
                            Conditions G&eacute;n&eacute;rales, les parties conviennent que les tribunaux comp&eacute;tents du ressort du si&egrave;ge social de la soci&eacute;t&eacute; EASY CAB SERVICES seront
                            exclusivement comp&eacute;tents pour en juger, sauf r&egrave;gles de proc&eacute;dure imp&eacute;ratives contraires.<br><br>
                            
                            <h2 style="border-bottom-color: rgb(255, 171, 0);">Entr&eacute;e en vigueur</h2><br><br>
                            Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales sont entr&eacute;es en vigueur le 1 janvier 2016.<br><br>
                        </div>







                    </div>
                </div>
            </div>
        </div>







        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div>
                        <h2 class="footer-heading mb-3">A PROPOS DE NOUS</h2>
                        <p>Easy Cab Services mets &agrave; dispositions des chauffeurs pour tous vos d&eacute;placements de proximit&eacute; ou de grande distance, &agrave; Paris, en Ile-De-France, en Europe. </p>
                        <p>Nous assurons tout vos trajets personnels, des plus court aux plus longs.Il vous suffit simplement de nous exposer votre demande lors de votre r&eacute;servation, ensuite nous nous occupons de tout pour que vous puissiez voyager l&#130;esprit tranquille. </p>
                        <p>Les tarifs sont fix&eacute;s pendant votre r&eacute;servation donc pas de surprise  en fin de courses.</p>
                        <p>Nous restons &agrave; votre dispositions pour toute informations compl&eacute;mentaires, ou devis, sur simple appel.</p>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-6">
                        <div class="border-top pt-5">
                            <a href="{{ path('mentions')}}">Mentions l&eacute;gales</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="border-top pt-5">
                            <a href="{{ path('conditions')}}">Conditions G&eacute;n&eacute;rales</a>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

    </div>
{% endblock %}