{# templates/default/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="main">
        <div class="shop_top">
            <div class="content-title">
                <h2>Nous aider</h2>
                <div class="clear"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="m_4" style="text-align: center;">Pour approvisionner et confectionner les paniers gourmands, pour r&eacute;aliser les objets d'artisanat de No&euml;l, pour g&eacute;rer la logistique des jours de retrait (accueil, stands, caisse, ..)</p>
                        <p class="m_4" style="text-align: center;">Nous avons aussi besoin de vos bras et de vos mains.</p>

                        <p class="m_4" style="text-align: center;">Faites-vous connaitre en contactant :</p>
                        <div class="address" style="text-align: center;">
                            <p>Sur r&eacute;pondeur :04 76 03 26 88</p>
                            <p>Email: <span>contact@diaconat-grenoble.org</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 contact">

                        {{ form_start(form, {'action': path('contact'), 'method': 'POST', 'name': 'form'}) }}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>

                            <div class="to">
                                    {{ form_row(form.nom) }}

                                    {{ form_row(form.prenom) }}

                                    {{ form_row(form.email) }}

                            </div>
                            <div class="text">
                                {{ form_row(form.sujet) }}
                                {{ form_row(form.message) }}
                                <div class="form-submit">
                                    <input name="submit" type="submit" id="submit" value="Envoyer"><br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        {{ form_end(form) }}








                        <!--<form method="post" action="contact-post.html">
                            <div class="to">
                                <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                                <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                                <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                            </div>
                            <div class="text">
                                <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                                <div class="form-submit">
                                    <input name="submit" type="submit" id="submit" value="Submit"><br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}